PORT=3002
MONGODB_URI=mongodb://mongo:27017/banco_transacciones
NODE_ENV=development
JWT_SECRET=your-secret-key
AUTH_SERVICE_URL=http://auth-service:5000
CUSTOMERS_SERVICE_URL=http://customers-accounts-service:3001
